.about-section {
  display: flex;
  width: 100%;
}

.about-img-container {
  width: 50%;
  display: flex;
  justify-content: right;
  /* padding-right: 160px; */
}

.about-text-container {
  width: 50%;
}

.about-header {
  margin-left: 24px;
}

.about-paragraph {
  margin-left: 24px;
  width: 440px;
}

.about-img {
  height: 460px;
  /* width: 520px; */
  margin-right: 24px;
  /* object-fit: contain; */
  filter: grayscale(100%);

}
