.navbar-button {
  background-color: transparent;
  border: none;
  color: #625E5E;
  transition: scale 0.3s;
  cursor: pointer;
  height: 40px;
}

.navbar-button:hover {
  transition: scale 0.3s;
  scale: 1.2;
}
