.projects-section {
  width: 100%;
  background-color: black;
}

/* .projects-container {

} */

.projects-header-container {
  display: flex;
  justify-content: space-between;
}

.projects-description {
  width: 440px;
  color: #E9E8E8;
}

.projects-header {
  color: #E9E8E8;
}
